			
			{{#linkTo "users.index"}}
				{{bs-icon name="circle-arrow-left"}}Back to Users
			{{/linkTo}}
			
			<div class="body">
				{{#if controllers.application.delRights}}
                    <div class="actions">
                        {{#linkTo "user.edit" this classNames="btn"}}
                            {{bs-icon name="pencil"}}Edit
                        {{/linkTo}}
                        {{#linkTo "user.delete" this classNames="btn"}}
                            {{bs-icon name="remove"}}Delete User
                        {{/linkTo}}
                    </div>
				{{/if}}
				<div>First name</div>
				<span>{{first_name}}</span>
				<div>Last name</div>
				<span>{{last_name}}</span>
			</div>